*{
    max-width: 715px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

body{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: -15px;
}

ul{
    text-align: justify;
    margin-left: -17px;
}

li{
    text-align: justify;
    font-weight: normal;
    margin-left: 0px;
}

h1{
    text-align:center;
}

.videobox{
    display:block;
    margin: 0 auto;
}

.disclaimer{
    text-align: right;
    padding-top: 5px;
    font-style: italic;
    font-size: 8px;
    padding-bottom: -10px;
    margin-bottom: -10px;
}